import React from 'react';
import { Styled{{ pascalCase name }} } from './style';

interface {{ pascalCase name }}Props {

}

export const {{ pascalCase name }}: React.FC<{{ pascalCase name }}Props> = ({ children, ...props }) => {
  return (
    <Styled{{ pascalCase name }}>
      <p>New component!</p>
    </Styled{{ pascalCase name }}>
  );
};
